.layout-wrapper,
.layout-inner {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    overflow: hidden;
}

.layout-inner {
    min-height: 100vh;
}

.layout-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 auto;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.layout-content {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    background: #f3f3f3;
}

.layout-container-fluid {
    width: 100%;
    flex-grow: 1;
    align-items: stretch;
}